@import '../abstracts/variables';

@mixin container {
	margin: 0 auto;

}

@mixin textSet($weight,$size,$lineHeight,$color) {
	font-weight: $weight;
	font-size: $size;
	line-height: $lineHeight;
	color: $color;
}

@mixin buttonSet {
	width: 44px;
	height: 37px;
	float: right;
	transition-duration: 0.5s;
	background-color: $black;
}

@mixin icon($width,$height) {
	width: $width;
	height: $height;
	position: absolute;
	transition-duration: 0.5s;
	top: 42px;
	right: 13px;
	background-color: $white;
}

@mixin icon-before($width,$height,$top) {
	width: $width;
	height: $height;
	content: '';
	position: absolute;
	transition-duration: 0.5s;
	top: $top;
	background-color: $white;
}

@mixin icon-after($width,$height,$top) {
	width: $width;
	height: $height;
	content: '';
	position: absolute;
	transition-duration: 0.5s;
	top: $top;
	background-color: $white;
}

@mixin preudoLine($backgroundColor, $margin) {
	content: '';
	position: absolute;
	top: 50%;
	width: 6px;
	height: 2px;
	background-color: $backgroundColor;
	margin: $margin;
}

@mixin circle($color) {
	border: 2px solid $color;
	color: $color;
}

/****************************/

@mixin slashLine($right) {
	content: '/';
	position: absolute;
	right: $right;
}


