
$mainFont: 'Roboto', sans-serif; 

$tabletScreen: 768px;
$displayScreen: 1200px;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$titleColor: rgb(78, 78, 78); 
$hoverColor: rgb(87, 164, 164);

$commentColor: rgb(124, 124, 124); 
$descColor: rgb(92, 92, 92); 
$galleryCololr: rgb(245, 245, 245);

$rssColor: rgb(248, 144, 46);
$facebookColor: #39599F;
$twitterColor: #45B0E3;
$dribbbleColor: #D97AB0;
$pinterestColor: #CC212C;
$footerTextColor: rgb(185, 185, 185);
