
@import '../abstracts/defaults';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.footer {
	background-color: $black;
	padding: 38px 0 47px 0;

	&__container {
		@include container;
	}

	&__content {
		text-align: center;
	}

	&__title {
		@include textSet(700,14px, 22px, $white);
		text-transform: uppercase;
		position: relative;
	
		&::before {
			@include preudoLine($white, 0 0 0 -12px);
		}
	
		&::after {
			@include preudoLine($white, 0 0 0 6px);
		}
	}

	&__text {
		@include textSet(400, 12px, 20px, $footerTextColor);
		padding-top: 8px;
	}

	&__text span{
		display: none;
	}




	&__media{
		padding: 26px 0;
	}

	&__media-item {
		border-radius: 50%;
		margin: 0 3px;
		
	}

	&__media-item--rss {
		@include circle($rssColor);
		padding: 12px 14px;
	}

	&__media-item--facebook {
		@include circle($facebookColor);
		padding: 12px 16px;
	}

	&__media-item--twitter {
		@include circle($twitterColor);
		padding: 12px;
	}

	&__media-item--dribbble {
		@include circle($dribbbleColor);
		padding: 12px;
	}

	&__media-item--pinterest {
		@include circle($pinterestColor);
		padding: 11px 13px;
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		@include textSet(400, 14px, 24px, $footerTextColor);


	}

	&__address {
		margin-right: 25px;
		position: relative;

		&::after {
			@include slashLine(-18px);
		}

	}

	&__phone {
		margin-right: 25px;
		position: relative;

		&::after {
			@include slashLine(-18px);
		}
	}
}

@media screen and (min-width: $tabletScreen) {

	.footer {
		padding: 57px 0;

		&__title {
			@include textSet(700,16px, 22px, $white);

		}

		&__text {
			@include textSet(400, 16px, 28px, $footerTextColor);
			padding-top: 22px;
		}

		&__text span{
			display: inline;
		}
	

		&__media {
			padding: 37px 0;
		}

		&__contacts {
			@include textSet(400, 16px, 26px, $footerTextColor);
			flex-direction: row;
			justify-content: center;
		}

		&__address {
			margin-right: 25px;
		}
	
		&__phone {
			margin-right: 25px;
			&::after {
				@include slashLine(-18px);
			}
		}


	}

}

@media screen and (min-width: $displayScreen) {

	.footer {
		padding: 66px 0 70px 0;
	
		&__title {
			@include textSet(700,16px, 22px, $white);
		}

		&__text {
			@include textSet(700, 16px, 28px, $footerTextColor);
		}
	
	}
	
}