
@import '../abstracts/defaults';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.container {
	@include container;
	padding: 0 25px;

}

.header {
	position: relative;
	justify-content: flex-end;
	padding-top: 25px;

	&__menu-wrapper {
		display: none;
		width: 182px;	
		flex-direction: column;
		background-color: rgb(245, 245, 245);
		
	}
	
	&__menu-item {
		padding: 4.5px 0 4.5px 12px;
	}
	
	&__menu-item:hover {
		background: rgba(229, 229, 229, 1);
		
	}
	
	&__menu-link {
		@include textSet(400, 11px, 22px, $titleColor);
		letter-spacing: 1.1px;
		text-transform: uppercase;
		
		&:hover {
			color: $hoverColor;
		}
	}
}

.header__menu-wrapper.active {
	display: block;
	position: absolute;
	right: 0;
	top: 57px;

}

.menu-hidden {
	@include buttonSet;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 23px;

}

.menu-hidden__icon {
	@include icon(17px, 2px);

	&:before {
		@include icon-before(17px, 2px, -5px);
	}

	&:after {
		@include icon-after(17px, 2px, 5px);
	}

}

.menu-hidden.active {

	.menu-hidden__icon {
		transition-duration: 0.5s;
		background: transparent;

		&:before {
			right: -5px;
			transform: rotateZ(45deg) scaleX(1.25) translate(0px, 6px);
		}

		&:after {
			right: -5px;
			transform: rotateZ(-45deg) scaleX(1.25) translate(1px, -7px);
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.banner {
	width: 100%;
	height: 150px;
	object-fit: cover;

}

@media screen and (min-width: $tabletScreen) {

	.container {
		padding: 0 80px;
	}
	
	.header {
		justify-content: center;
		padding: 40px 0;

		&__menu {
			margin-bottom: 43px;
		}
	
		&__menu-wrapper {
			width: 100%;
			display: flex;
			flex-direction:row;
			justify-content: space-around;
			align-items: center;
			background-color: $white;
		
		}
			
		&__menu-item {
			padding: 0 15px;
		
		}
		
		&__menu-item:hover {
			background-color: $white;
		
		}
	}

	.menu-hidden {
		display: none;
	}
	
	.banner {
		height: 361px;
	}

}

@media screen and (min-width: $displayScreen) {

	.container {
		padding: 0 215px;
	}
	
	.header {
		display: flex;
		flex-direction: column;
		padding: 45px 0 50px 0;

		&__menu {
			margin-bottom: 51px;
		}
	
		&__menu-wrapper {
			width: 100%;
			align-items: center;
		
		}
	}

	.banner {
		height: 550px;
	}

}