
@import '../abstracts/defaults';
@import '../abstracts/mixins';
@import '../abstracts/variables';

.section-posts {
	padding: 38px 0;
}

.section-title {
	position: relative;
	text-transform: uppercase;


	&--main {
		@include textSet(700, 14px, 22px, $titleColor);

	}

	&--right {
		display: none;
		@include textSet(700, 13px, 22px, $titleColor);

	}

}

.post {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 32px 25px;
	padding-top: 25px;


	&__content {
		display: flex;
		flex-direction: column;

		&:last-child {
			display: none;
		}
	}

	&__img {
		width: 160px;
		height: 140px;
		margin-bottom: 10px;
	}

	&__title {
		@include textSet(700, 14px, 30px, $titleColor);

	}

	&__comment {
		@include textSet(400, 11px, 20px, $commentColor);
	}

	&__description {
		display: none;
	}

}

.section-gallery {
	background-color: $white;
}

.section-images {
	padding: 42px 0;
}

.images-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 13px;
}

.image {
	display: flex;
	justify-content: space-between;

	&__item {
		width: 100%;
		height:300px;
	}

	&__block:nth-child(n+2) {
		display: none;
	}
}


@media screen and (min-width: $tabletScreen) {
	.section-posts {
		padding: 56px 0 60px 0;
	}

	.section-title {
	
		&--main {
			@include textSet(700, 13px, 22px, $titleColor);
		}
		
		&--right {
			display: block;
		}
	
	}

	.post {

		
		&__content {
			flex-direction: row;
			justify-content: flex-start;
			
			&:last-child {
				display: flex;
			}
	
		}

		&__info {
			margin-left: 20px;
			max-width: 405px;
		}

		&__comment {
			@include textSet(400, 12px, 20px, $commentColor);
			padding: 3px 0 5px 0;
		}

		&__description {
			display: block;
			@include textSet(400, 14px, 26px, $descColor);

		}
	

	}

	.section-gallery {
		background-color: $galleryCololr;
	}

	.section-images {
		padding: 50px 0;
	}

	.image {
		justify-content: center;
		gap: 0 9px;

		&__item {
			height: 250px;
		}

		&__block:nth-child(n+2) {
			display: flex;
		}

		&__block:last-child {
			display: none;
		}

	}

}

@media screen and (min-width: $displayScreen) {

	.section-posts {
		padding: 66px 0 70px 0;
	}

	.section-title.section-title--right {
		display: block;
	}

	.post {
		flex-direction: row;
	

		&__content {
			flex: 1 1 calc(50% - 25px);
	
		}

		&__info {
			margin-left: 20px;
		}

		&__title {
			@include textSet(700, 16px, 30px, $titleColor);
		}


		&__theme {
			position: relative;
			margin-right: 20px;
			&::after {
				@include slashLine(-15px);
			}
		}

	}

	.images-heading {
		padding-bottom: 25px;
	}

	.image {
	
		&__item {
			height: 285px;
		}

		&__block:last-child {
			display: flex;
		}

	}
}